@{ /*model IEnumerable<Przepisnik.Models.Recipe>*/
}
@model PagedList.IPagedList<Przepisnik.Models.Recipe>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Recipe", FormMethod.Get)) //method get: form data is passed in the URL as query strings, which enables users to bookmark the URL.
{
    <p>
        Znajdź: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control mr-sm-2" })
        <input type="submit" value="Search" class="btn btn-outline-dark my-2 my-sm-0" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Tytuł", "Index", new { sortOrder = ViewBag.TitleSortParm, currentFilter = ViewBag.CurrentFilter })
           
        </th>
        <th>
            @{  /*Html.DisplayNameFor(model => model.RecipePhotoUrl)*/
            }
        </th>
        <th>
            @Html.ActionLink("Data dodania", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
           
        </th>
        <th>
          Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Html.DisplayNameFor(model => model.Ingredients)
        </th>
        <th>
            Html.DisplayNameFor(model => model.Preparation)
        </th>
        <th>
            Html.DisplayNameFor(model => model.PrepTime)
        </th>
        <th>
            Html.DisplayNameFor(model => model.Portions)
        </th>
        <th>
            Html.DisplayNameFor(model => model.Source)
        </th>
        <th>
            Html.DisplayNameFor(model => model.IfPublic)
        </th>
        <th>
            Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            Html.DisplayNameFor(model => model.AverageRating)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipePhotoUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preparation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrepTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Portions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IfPublic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageRating)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RecipeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.RecipeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RecipeID })
            </td>
        </tr>
    }


</table>
<br />
<br />
<div class="row my-3">
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="card border-info my-3 przepis">
                <img class="card-img-top" src="..\Images\jakieszdjecie.jpg" alt="Card image cap">
                <div class="card-body text-info">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <a class="btn btn - outline - info"> @Html.ActionLink("Więcej..", "Details", new { id = item.RecipeID })</a>


                </div>
            </div>
        </div>
    }
</div>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))